body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 5px 10px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.menu a {
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
}

.menu .active {
    background-color: white;
    color: blueviolet;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.friend-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    margin: 0 300px;
}

.page-title {
    align-self:flex-start;
    color: blueviolet;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px blueviolet;
}

.post .title {
    background-color: blueviolet;
    color: white;
    font-weight: lighter;
    margin: 0;
    padding: 10px;
}

.post .content {
    display: flex;
    padding: 20px 20px;
    gap: 20px;
}

.post .content .image {
    width: 400px;
    height: 300px;
    border: 2px solid blueviolet;
    border-radius: 5px;
}
/* should i nest the declarations 
the way they are nested in the html?
my idea is that if there is a content div somewhere else 
it wont get its style messed by this one */
.post .content .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.metadata .time {
    font-size: 15px;
    color: gray;
}

.controls {
    background-color: blueviolet;
    display: flex;
    justify-content: start;
}

.controls button {
    all: unset;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;;
    padding: 5px;
    margin: 5px;
}

.comment {
    padding: 10px 10px;
    border: 1px solid blueviolet;
}

